/* So add some fonts, im thinking science themed so im not sure what that entails
 */

.container {
  line-height: 2.5;
}

.mt-30 {
  margin-top: 30px;
}

.letter-spacing {
  letter-spacing: 10px;
}

/* .jumbotron {
  height: 30vh;
} */

/* .top-margin-for-head {
  margin-top: 1vh;
} */

#large-win-font {
  color: #83C1FF;
  font-size: 100px;
}